:root {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.board {
    background: black;
    gap: 0.5rem;
    width: 512px;
    height: 512px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.board button {
    font-size: 8rem;
    background: white;
    border: none;
    cursor: pointer;
}

.board button:hover {
    background: #f3f4f6;
}

.container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.container > input {
    padding: 0.5rem 1rem;
    outline: none;
}

.container > button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    background: black;
    color: white;
}

.result-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 512px;
    height: 256px;
    background: #f3f4f6;
    border-radius: 0.25rem;
    box-shadow: 0 0 4rem 0.25rem black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: all .5s ease;
    visibility: hidden;
}